[Unit]
Description=launch installer
After=NetworkManager.service getty-pre.target getty@tty1.service basic.target

[Service]
Type=forking
ExecStart=/bin/bash /usr/bin/installer-start
User=root
[Install]
WantedBy=basic.target
